modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ashtech-Pay"

[[workflows.workflow]]
name = "Ashtech-Pay"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
WINIPAY_ENV = "prod"
SUPABASE_DATABASE_URL = "postgresql://postgres:xF57mtV5XwCBW1Srdb.vngfjjfgaxkcwtrzawdq.supabase.co:5432/postgres"
SUPABASE_URL = "https://vngfjjfgaxkcwtrzawdq.supabase.co/"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ2ZqamZnYXhrY3d0cnphd2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NDQzNTIsImV4cCI6MjA4NzQyMDM1Mn0.gh76rmi7uEzjLbqGjiRIckoaKxmOAyiLyy9QZOxuucc"
WINIPAY_MERCHANT_TOKEN = "205a3132-c1a4-4b5f-9f59-ccc54b57089b"
WINIPAY_PRIVATE_KEY = "cALvInzCEOrPyqXA1YNSdiq02itPCh7sawLv"
WINIPAY_MERCHANT_APPLY = "qnlOVr8xymUglVJmiNmu"
