modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true
stack = "FULLSTACK_JS"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["node", "./dist/index.cjs"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SUPABASE_URL = "https://vngfjjfgaxkcwtrzawdq.supabase.co/"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ2ZqamZnYXhrY3d0cnphd2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NDQzNTIsImV4cCI6MjA4NzQyMDM1Mn0.gh76rmi7uEzjLbqGjiRIckoaKxmOAyiLyy9QZOxuucc"
PIXPAY_WAVE_BUSINESS_ID = "am-23kv2kt281gqe"
PIXPAY_API_KEY_XAF = "PIX_c2724339-716f-4034-b5e5-2a17c1c35d0e"
SUPABASE_DATABASE_URL = "postgresql://postgres.vngfjjfgaxkcwtrzawdq:bHOFcwceoFfvhzMo@aws-1-eu-west-3.pooler.supabase.com:6543/postgres"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuZ2ZqamZnYXhrY3d0cnphd2RxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTg0NDM1MiwiZXhwIjoyMDg3NDIwMzUyfQ.sbkaIdTLJmr08uZZ-SDmpjGdnub4awNUHR9oxLviCcw"

[userenv.development]
APP_URL = "https://f96a6379-f341-4944-8f17-8e8a1d157003-00-rvqhzlc1jkpk.worf.replit.dev"

[userenv.production]
APP_URL = "https://ashtechpay.top"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
